<ion-view title="Add New Team" id="page16">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Team Name:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Location:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="uCrecovery.teamProfiles" id="addNewTeam-button113" class="button button-assertive  button-block">Create Profile</a>
    </ion-content>
</ion-view>