<ion-view title="Add New Staff" id="page13">
    <ion-content padding="true" class="has-header">
        <form class="list" ng-submit="submitForm(staff)">
            <label class="item item-input">
                <span class="input-label">Staff name</span>
                <input type="text" ng-model="staff.name" placeholder="">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Role</span>
                <select ng-model="staff.role">
                  <option ng-repeat="role in roles" value={{role.id}}>{{role.name}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Team</span>
                <select ng-model="staff.team">
                  <option ng-repeat="team in teams" value={{team.id}}>{{team.name}}</option>
                </select>
              </label>
            <label class="item item-input">
                <span class="input-label">Contact Info</span>
                <input type="tel" ng-model="staff.contact" placeholder="">
            </label>
            <a ui-sref="uCrecovery.uploadPhoto" id="staffProfiles-button110" class="button button-balanced  button-block">Add photo</a>
            <input type="submit" id="addNewStaff-button112" class="button button-assertive  button-block icon ion-ios-person-outline" value="Create Profile">
        </form>
        <!-- <a ui-sref="uCrecovery.staffProfiles" id="addNewStaff-button112" class="button button-assertive  button-block icon ion-ios-person-outline">Create Profile</a> -->
    </ion-content>
</ion-view>
