<ion-view title="Add New Patient" id="page18">
    <ion-content padding="true" class="has-header">
        <form id="addNewPatient-form18"  ng-submit="submitForm(patient)"" class="list ">
            <h4 id="addNewPatient-heading20" style="color:#000000;" class=" ">Patient Information</h4>
            <input type="submit" id="addNewPatient-button95" class=" button button-assertive  button-block icon ion-ios-person " value="Create Profile">
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input " id="addNewPatient-input14" name="patientName">
                <span class="input-label">Full Name</span>
                <input type="text" ng-model="patient.patientName" placeholder="">
            </label>
            <label class="item item-input " id="addNewPatient-input15" name="patientDOB">
                <span class="input-label">DOB</span>
                <input type="date" ng-model="patient.patientDOB" placeholder="dd/mm/yyyy">
            </label>
            <label class="item item-input " id="addNewPatient-input16" name="HospitalNumber">
                <span class="input-label">Hospital Number</span>
                <input type="text" ng-model="patient.HospitalNumber" placeholder="">
            </label>
            <label class="item item-input " id="addNewPatient-input17" name="NHSNumber">
                <span class="input-label">NHS Number</span>
                <input type="text" ng-model="patient.NHSNumber" placeholder="">
            </label>
            <label class="item item-input " id="addNewPatient-input18" name="patientHeight">
                <span class="input-label">Height</span>
                <input type="text" ng-model="patient.patientHeight" placeholder="cm">
            </label>
            <label class="item item-input " id="addNewPatient-input19" name="PreOpWeight">
                <span class="input-label">Weight</span>
                <input type="text" ng-model="patient.PreOpWeight" placeholder="kg">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <h4 id="addNewPatient-heading21" style="color:#000000;" class=" ">Medications</h4>
            <ion-toggle toggle-class="toggle-positive" ng-model="BetaBlockers" id="addNewPatient-toggle38" name="BetaBlockers" class=" ">Beta Blockers</ion-toggle>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-model="BloodTransfusion" id="addNewPatient-toggle39" name="BloodTransfusion" class=" ">Blood Transfusion</ion-toggle>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-model="Antibiotic" id="addNewPatient-toggle40" name="Antibiotic" class=" ">Antibiotics</ion-toggle>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-model="Antihypertensive" id="addNewPatient-toggle41" name="Antihypertensive" class=" ">Antihypertensive</ion-toggle>
            <ion-list id="addNewPatient-list17" class=" "></ion-list>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <input type="submit" id="addNewPatient-button95" class=" button button-assertive  button-block icon ion-ios-person " value="Create Profile">
            <!-- <a ui-sref="uCrecovery.patientProfiles" id="addNewPatient-button95" class=" button button-assertive  button-block icon ion-ios-person ">Create Profile</a> -->
            <div class="spacer" style="height: 100px;"></div>
        </form>
        <ion-list></ion-list>
    </ion-content>
</ion-view>