<ion-view title="Andy Apple" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Temperature</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/jd8NQyQLSh6CV9HdBT7N_image.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Heart Rate</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/jd8NQyQLSh6CV9HdBT7N_image.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Haemoglobin</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/jd8NQyQLSh6CV9HdBT7N_image.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">WBC Count</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/jd8NQyQLSh6CV9HdBT7N_image.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>