<ion-view title="Andy Apple" id="page10">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h4 id="andyApple3-heading10" style="color:#000000;">Patient Information</h4>
            <ion-item>Name</ion-item>
            <label class="item item-select" name="Patient DOB">
                <span class="input-label">DOB</span>
                <select>
                    <option>01/01/1950</option>
                </select>
            </label>
            <ion-item>Hospital Number</ion-item>
            <ion-item>NHS Number</ion-item>
            <ion-item>Height</ion-item>
            <ion-item>Pre-Op weight</ion-item>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <h4 id="andyApple3-heading11" style="color:#000000;">Medications</h4>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Beta Blockers</ion-toggle>
            <label class="item item-select" name="Antibiotic Type">
                <span class="input-label">Type</span>
                <select>
                    <option>Lisinopril</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Blood Transfusion</ion-toggle>
            <label class="item item-select">
                <span class="input-label">Date of:</span>
                <select>
                    <option>Before 1992</option>
                    <option>After 1992</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Antibiotics</ion-toggle>
            <label class="item item-select" name="Antibiotic Type">
                <span class="input-label">Type</span>
                <select>
                    <option>Lisinopril</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Antihypertensive</ion-toggle>
            <ion-list></ion-list>
            <label class="item item-select" name="Antibiotic Type">
                <span class="input-label">Type</span>
                <select>
                    <option>Lisinopril</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Ibuprofen</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="Ibuprofen 2pm">2pm</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" name="Ibuprofen 7pm">7pm</ion-toggle>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">PRN</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="PRN 1">PRN 1</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="PRN 2">PRN 2</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" name="PRN 3">PRN 3</ion-toggle>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-item>Other</ion-item>
            <button id="andyApple3-button58" class="button button-positive  button-block">Scan Patient Barcode</button>
            <button id="andyApple3-button59" class="button button-assertive  button-block">Archive Profile</button>
            <div class="spacer" style="height: 100px;"></div>
        </form>
        <ion-list></ion-list>
    </ion-content>
</ion-view>