<ion-view title="Patient Data" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="patientDataSearch">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <a ui-sref="uCrecovery.andyApple" id="patientData-button1" class="button button-positive  button-block">Andy Apple</a>
        <button id="patientData-button2" class="button button-positive  button-block">Bob Beaver</button>
        <button id="patientData-button3" class="button button-positive  button-block">Clive Carrot</button>
        <button id="patientData-button4" class="button button-positive  button-block">Duncan Donought</button>
        <button id="patientData-button5" class="button button-positive  button-block">Frank Finding</button>
        <button id="patientData-button6" class="button button-positive  button-block">Gregory Giant</button>
        <button id="patientData-button7" class="button button-positive  button-block">Henry Hooray</button>
        <button id="patientData-button8" class="button button-positive  button-block">Ian Intermediate</button>
        <button id="patientData-button9" class="button button-positive  button-block">John Jumper</button>
        <button id="patientData-button10" class="button button-positive  button-block">Kendrick Kinshasa</button>
        <button id="patientData-button11" class="button button-positive  button-block">Larry Love</button>
        <button id="patientData-button12" class="button button-positive  button-block">Mick McMatin</button>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>