<ion-view title="Team Profiles" id="page11">
    <ion-content padding="true" class="has-header">
        <a ui-sref="uCrecovery.addNewTeam" id="teamProfiles-button64" class="button button-balanced  button-block icon ion-ios-people">Add New Team</a>
        <div class="list card">
            <div class="item item-divider">Team 1</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/40IOtMuCRjeFj4y09Pa8_Untitled.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Team 2</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/9sjnleNBTwSvNc3tbQFD_Untitled.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Team 3</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/gSl8KuRySHe7W3BWvSwv_Untitled.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>