<ion-view title="Team Profiles" id="page11">
    <ion-content padding="true" class="has-header">
    <p>{{environment}}</p>
        <a ui-sref="uCrecovery.addNewTeam" id="teamProfiles-button64" class="button button-balanced  button-block icon ion-ios-people">Add New Team</a>
        <div class="list card" ng-repeat="team in teams">
            <div class="item item-divider">{{team.name}}</div>
            <div class="item item-body">

      
            </div>
        </div>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>
